.container{
    text-align: center;
    margin-top:100px
    
}

table{
    margin:auto
}
input{
    border-radius:20px;
    border: 3px solid silver;
    font-size:34px;
}
button{
    border-radius:20px;
    font-size:32px;
    background:silver;
    width:102px;
    height:58px;
}
.calculator{
    display:inline-block;
    border: 2px solid white;
    padding: 10px;
    border-radius:20px;
    
}